<ion-header class="ion-no-border" >
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
     <ion-icon slot="icon-only" size="large" name="arrow-back"></ion-icon>
    </ion-button>
    <h5 style="margin-right: 1rem;" slot="end"><strong>CIERRE CONTABLE</strong></h5>


  </ion-toolbar>

</ion-header>
<ion-content>
  <ion-list>
    <h5 style="margin-left: 1rem;"><strong>LIQUIDACIONES LINEAS</strong></h5>
      <ion-item>
     <ion-grid >
      <ion-row>
        <ion-col ><strong># Asiento</strong></ion-col>
        <ion-col ><strong>CeCosto</strong></ion-col>
        <ion-col><strong>CuConta</strong></ion-col>
        <ion-col ><strong>Desc</strong></ion-col>
        <ion-col ><strong>Deb Total</strong></ion-col>
        <ion-col ><strong>Cred Local</strong></ion-col>
        <ion-col ><strong>Referencia</strong></ion-col>
      </ion-row>
     </ion-grid>
      </ion-item>
      <ion-item *ngFor="let diario of diario">
        <ion-grid >
         <ion-row style="font-size: 14px;" class="ion-text-left">
           <ion-col >
            {{diario.asiento}}
  
           </ion-col>
           <ion-col >
            {{diario.centrO_COSTO   }}
           </ion-col>
           <ion-col >
            {{diario.cuentA_CONTABLE   }}
           </ion-col>
           <ion-col >
            {{diario.descripcion   }}
           </ion-col>
           <ion-col >
            {{diario.debitO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
           </ion-col>
           <ion-col >
            {{diario.creditO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
           </ion-col>
           <ion-col >
            {{diario.referencia}}
           </ion-col>
         </ion-row>
        </ion-grid>
         </ion-item>
         
     </ion-list>
     <ion-list *ngIf="this.adelantosService.adelantoViatico.restante >0">
      <h5 style="margin-left: 1rem;"><strong>SOBRANTES LINEAS</strong></h5>
        <ion-item>
       <ion-grid >
        <ion-row>
          <ion-col ><strong># Asiento</strong></ion-col>
          <ion-col ><strong>CeCosto</strong></ion-col>
          <ion-col><strong>CuConta</strong></ion-col>
          <ion-col ><strong>Desc</strong></ion-col>
          <ion-col ><strong>Deb Total</strong></ion-col>
          <ion-col ><strong>Cred Local</strong></ion-col>
          <ion-col ><strong>Referencia</strong></ion-col>
        </ion-row>
       </ion-grid>
        </ion-item>
        <ion-item *ngFor="let diario of diarioSobrante">
          <ion-grid >
           <ion-row style="font-size: 14px;" class="ion-text-left">
             <ion-col >
              {{diario.asiento}}
    
             </ion-col>
             <ion-col >
              {{diario.centrO_COSTO   }}
             </ion-col>
             <ion-col >
              {{diario.cuentA_CONTABLE   }}
             </ion-col>
             <ion-col >
              {{diario.descripcion   }}
             </ion-col>
             <ion-col >
              {{diario.debitO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
             </ion-col>
             <ion-col >
              {{diario.creditO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
             </ion-col>
             <ion-col >
              {{diario.referencia}}
             </ion-col>
           </ion-row>
          </ion-grid>
           </ion-item>
           
       </ion-list>

       <ion-list *ngIf="postAsiento">
 
        <h5 style="margin-left: 1rem;"><strong>LIQUIDACIÓN ANTICIPO</strong></h5>
      <ion-item>
     <ion-grid >
      <ion-row>
        <ion-col ><strong># Asiento</strong></ion-col>
        <ion-col ><strong>CeCosto</strong></ion-col>
        <ion-col><strong>CuConta</strong></ion-col>
        <ion-col ><strong>Desc</strong></ion-col>
        <ion-col ><strong>Deb Total</strong></ion-col>
        <ion-col ><strong>Cred Local</strong></ion-col>
        <ion-col ><strong>Referencia</strong></ion-col>
      </ion-row>
     </ion-grid>
      </ion-item>
      <ion-item  >
        <ion-grid >
         <ion-row style="font-size: 14px;" class="ion-text-left">
           <ion-col >
            {{postAsiento.asiento}}
  
           </ion-col>
           <ion-col >
            {{postAsiento.centrO_COSTO   }}
           </ion-col>
           <ion-col >
            {{postAsiento.cuentA_CONTABLE   }}
           </ion-col>
           <ion-col >
            {{postAsiento.descripcion   }}
           </ion-col>
           <ion-col >
            {{postAsiento.debitO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
           </ion-col>
           <ion-col >
            {{postAsiento.creditO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
           </ion-col>
           <ion-col >
            {{postAsiento.referencia}}
           </ion-col>
         </ion-row>
        </ion-grid>
         </ion-item>
         
    
       </ion-list>
       <ion-list *ngIf="postSobrante">
 
 <h5 style="margin-left: 1rem;"><strong>SOBRANTE ANTICIPO</strong></h5>
          <ion-item>
         <ion-grid >
          <ion-row>
            <ion-col ><strong># Asiento</strong></ion-col>
            <ion-col ><strong>CeCosto</strong></ion-col>
            <ion-col><strong>CuConta</strong></ion-col>
            <ion-col ><strong>Desc</strong></ion-col>
            <ion-col ><strong>Deb Total</strong></ion-col>
            <ion-col ><strong>Cred Local</strong></ion-col>
            <ion-col ><strong>Referencia</strong></ion-col>
          </ion-row>
         </ion-grid>
          </ion-item>
          <ion-item  >
            <ion-grid >
             <ion-row style="font-size: 14px;" class="ion-text-left">
               <ion-col >
                {{postSobrante.asiento}}
      
               </ion-col>
               <ion-col >
                {{postSobrante.centrO_COSTO   }}
               </ion-col>
               <ion-col >
                {{postSobrante.cuentA_CONTABLE   }}
               </ion-col>
               <ion-col >
                {{postSobrante.descripcion   }}
               </ion-col>
               <ion-col >
                {{postSobrante.debitO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
               </ion-col>
               <ion-col >
                {{postSobrante.creditO_LOCAL  | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}
               </ion-col>
               <ion-col >
                {{postSobrante.referencia}}
               </ion-col>
             </ion-row>
            </ion-grid>
             </ion-item>
             
        
           </ion-list>
        
</ion-content>
<ion-footer      class="ion-no-border ion-padding"  *ngIf="this.adelantosService.adelantoViatico.estatus != 'F'">
  <ion-toolbar>
    <app-button  (click)="liquidar()"   label="Liquidar Anticipo"></app-button>
 
  </ion-toolbar>
 </ion-footer>