<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
<ion-title>EDITAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form id="form" (ngSubmit)="editarUsuario(form)" #form="ngForm" class="ion-padding">
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <ion-row>
 
        <ion-col size="12">

          <app-select [multiple]="multiple"  name="roles" label="Roles" [data]="matriz"  [ngModel]="roles"></app-select>
      
      
        </ion-col>
      </ion-row>
          </ion-col>
    <ion-col size="6">
      <ion-row>
        <ion-col size="12">
         <app-input   type="text"label="Nombre" name="nombre"  ngModel="{{usuario.nombre}}"></app-input>
        </ion-col>
     
      </ion-row>
          </ion-col>
          <ion-col size="6">
            <ion-row>
           
              <ion-col size="12">
                <app-input  type="text" label="Apellido" name="apellido" ngModel="{{usuario.apellido}}"> </app-input>
              </ion-col>
            </ion-row>
                </ion-col>
                
          <ion-col size="12">
            <ion-row>
        
              <ion-col size="12">
                <app-input  type="text" label="Correo" name="correo" ngModel="{{usuario.correo}}"></app-input>
              </ion-col>
 
            </ion-row>
                </ion-col>

                <ion-col size="6">
                  <ion-row>
            
                    <ion-col size="12">
                      <app-input label="Usuario" type="text"  name="usuario" ngModel="{{usuario.usuario}}"></app-input>
                    </ion-col>
                  </ion-row>
                      </ion-col>
                <ion-col size="6">
                  <ion-row>
                    
                    <ion-col size="12">
                      <app-input label="Contraseña" type="password" name="clave" ngModel="{{usuario.clave}}"></app-input>
                    </ion-col>
       
                  </ion-row>
                      </ion-col>
<ion-col size="12">
  
<app-button   label="Editar Usuario"></app-button>
</ion-col>
              
  </ion-row>
</ion-grid>
    

 
 

</form>

</ion-content>

 
 