<ion-header  mode="ios">
 
  <ion-toolbar mode="md">
    <ion-button slot="start" (click)="regresar()" fill="clear">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
     </ion-button>
    <ion-title>Estadisticas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
 
    
      <ion-card>
        <ion-card-header>
          Gráfico De Barras
        </ion-card-header>
        <ion-card-content>
          <canvas  id="barCanvas2"  style="position: relative; height:100%;min-height: 40vh; width:100%"></canvas>
        </ion-card-content>
      </ion-card>
  
      <ion-card>
        <ion-card-header>
          Gráfico De Anillos

        </ion-card-header>
        <ion-card-content>
          <canvas  id="doughnutCanvas"  #doughnutCanvas style="position: relative; max-height:40vh; width:100%"></canvas>
        </ion-card-content>
      </ion-card>

     
   
      <ion-card>
        <ion-card-header>
          Gráfico De Linea

        </ion-card-header>
        <ion-card-content>
          <canvas  id="lineCanvas"  #lineCanvas style="position: relative; max-height:40vh; width:100%"></canvas>
        </ion-card-content>
      </ion-card>
 

</ion-content>
