
ion-header ion-toolbar {
  background-color:#fff;
  color: #36acc6;
  text-transform: uppercase;
 
}
.avatar{
    height: 200px;
    width:200px;
    margin: 0 auto;
   margin-bottom: 3rem;
}
 
  img {

    width: 200px;
  height: 200px;
  margin: 0 auto;
  border-radius: 50%;
  object-fit: cover;
  }
 