<ion-header class="ion-no-border ion-padding">
<ion-row>
  <ion-col size="12">
    <ion-toolbar>
      <ion-title class="ion-text-capitalize" class="page-title"><strong>Registrar Anticipos</strong></ion-title>
      <ion-button  *ngIf="usuarios.length > 0" slot="end"   (click)="generarPost()" 
      fill="solid" color="dark">
    Generar Anticipo
    <ion-icon slot="end"  name="arrow-forward"></ion-icon>
  </ion-button>
  
    </ion-toolbar>

  </ion-col>
 
</ion-row>
</ion-header>
<ion-content>
  <ion-grid style="height: 100%;">
    <ion-row style="height: 100%;" class="ion-padding">


      <ion-col size="12">
 
        <ion-grid>
          <ion-row>



            <ion-col size="12">
              <ion-row>
                <ion-col size="3">

                  <ion-row>
                    <ion-col size="12">
                      <ion-label><strong>Fecha Transacción</strong> </ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-input (click)="fecha('fechaTransaccion')" readonly
                        [value]="adelantoViatico.fechA_TRANSACCION  | date" type="text" placeholder="fecha"></ion-input>
                    </ion-col>
                  </ion-row>

                </ion-col>
                <ion-col size="3">

                  <ion-row>
                    <ion-col size="12">
                      <ion-label><strong>Fecha Inicial</strong></ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-input (click)="fecha('fechaInicial')" readonly [value]="adelantoViatico.fechA_INICIAL  | date"
                        type="text" placeholder="Fecha"></ion-input>
                    </ion-col>
                  </ion-row>


                </ion-col>
                <ion-col size="3">
                  <ion-row>
                    <ion-col size="12">

                      <ion-label><strong>Fecha Final</strong></ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-input readonly [value]="adelantoViatico.fechA_FINAL  | date" type="text"
                        placeholder="Fecha"></ion-input>
                    </ion-col>
                  </ion-row>



                </ion-col>
                <ion-col size="3">
                  <ion-row>
                    <ion-col size="12">
                      <ion-label style="display: flex;justify-content: flex-start;align-items: center;"><strong>Moneda </strong> <ion-badge style="margin-left: 0.5rem;" color="primary"
                          mode="ios">{{adelantoViatico.moneda}}</ion-badge></ion-label>
                    </ion-col>
                    <ion-col size="12">
    
                      <ion-select [(ngModel)]="adelantoViatico.moneda" placeholder="Seleccionar">
                        <ion-select-option value="₡">Colones</ion-select-option>
                        <ion-select-option value="$">Dolares</ion-select-option>
                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="3">
    
                  <ion-row>
                    <ion-col size="12">
                      <ion-label><strong>Justificación</strong></ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-input   name="detalle" [(ngModel)]="adelantoViatico.detalle"
                        type="text" placeholder="justificación"></ion-input>
                    </ion-col>
                  </ion-row>
    
    
    
    
                </ion-col>
                <ion-col size="3">
                  <ion-row>
                    <ion-col size="12">
                      <ion-label><strong>Compañia</strong></ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-select (ionChange)="compania($event)" [(ngModel)]="adelantoViatico.coD_COMPANIA"
                        placeholder="Seleccionar">
                        <ion-select-option [value]="compania.cia"
                          *ngFor="let compania of clientes">{{compania.cia}}</ion-select-option>

                      </ion-select>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <ion-col size="3">
                  <ion-row>
                    <ion-col size="12">
                      <ion-label><strong># Transacción</strong></ion-label>
                    </ion-col>
                    <ion-col size="12">
                      <ion-input name="numero_transaccion" [(ngModel)]="adelantoViatico.numerO_TRANSACCION"
                        type="text" placeholder="número transacción"></ion-input>
                    </ion-col>
                  </ion-row>



                </ion-col>
              </ion-row>

   
            </ion-col>



          </ion-row>
          <ion-row>
            <ion-col size="12">
           
                <ion-grid>
                  <ion-row>

  
                    <ion-col size="12">

                      <ion-toolbar>
                        <ion-title><strong>Colaboradores</strong></ion-title>
                        <ion-fab-button (click)="listaColaboradores()" color="dark" size="small" slot="end">
                          <ion-icon name="add"></ion-icon>
                        </ion-fab-button>
                      </ion-toolbar>
                       <ion-list >

                        <ion-item lines="none" *ngIf="usuarios.length == 0">

                          <ion-grid>
                            <ion-row>
                          
                              <ion-col size="12" style="display: flex;justify-content: center;align-items: center;">
                                <img height="80" src="assets/imgs/empty-box.svg" alt="" style="margin-right: 0.5rem;">
                                <strong  style="margin-top: 0.5rem;">Selecciona un usuario para continuar!..</strong>
                              </ion-col>
                  
                            </ion-row>
                          </ion-grid>
                  
                        </ion-item>
      <ion-grid >
        <ion-row>
          <ion-col size="6"  *ngFor="let usuario of  usuarios; let i = index;">
            <ion-item lines="none"   >
                
              <ion-avatar  slot="start">
                <img   src="../assets/imgs/user.svg" />
              </ion-avatar>
    
              <ion-label   >{{usuario.usuario}}</ion-label>
              <ion-input (ionChange)="incrementarMonto(usuario, $event)" class="input" slot="end" name="monto{{i}}" [value]="usuario.monto"  type="number" placeholder="monto"></ion-input>
              <ion-fab-button (click)="borrarUsuario(i)"   slot="end"    size="small" color="danger">
                <ion-icon name="trash"></ion-icon>
               </ion-fab-button>
         

     
           
            </ion-item>
          </ion-col>
        
        </ion-row>
      </ion-grid>
                       </ion-list>
                        
                      
                
                
                    </ion-col>
         
                    <ion-col size="12" class="ion-padding " *ngIf="adelantoViatico.monto > 0">
                      
                      <ion-toolbar  class="ion-text-right">
                        <ion-title  style="margin-right: 4rem;"><strong>Monto Total  {{ adelantoViatico.monto  | colones : 2 : '.' : ',' :  adelantoViatico.moneda }}</strong></ion-title>
              
                       </ion-toolbar>
                    </ion-col>
        
        

                  </ion-row>
                </ion-grid>


 
            </ion-col>


          </ion-row>

        </ion-grid>
 
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<app-pie-pagina></app-pie-pagina>