<ion-header mode="ios">
  <ion-toolbar mode="md" >
    <ion-button (click)="regresar()" fill="clear" slot="start"  size="medium">
      <ion-icon color="dark" slot="icon-only" name="chevron-back-outline"></ion-icon>
    </ion-button>
 
    <ion-title>Registro Anticipo
    </ion-title>
 
 
   
  </ion-toolbar>
</ion-header>
 
<ion-content class="ion-padding">
 
  <form id="form" (ngSubmit)="generarPost(form)"     #form="ngForm" > 

  <ion-grid >
  
    <ion-row  >

 

      <ion-col  >
        <ion-row>
          <ion-col size="3">
          
               <ion-label class="label">Fecha Transaccion</ion-label>
         <ion-input   name="fechA_TRANSACCION" [readonly]="true" class="input" (click)="fecha('fechaTransaccion')" ngModel="{{adelantoViatico.fechA_TRANSACCION  | date}}"></ion-input>

          </ion-col>
          <ion-col size="3">
      
               
                    
            <ion-label class="label">Fecha Inicial</ion-label>
            <ion-input    name="fechA_INICIAL" [readonly]="true" class="input" (click)="fecha('fechaInicial')" ngModel="{{adelantoViatico.fechA_INICIAL  | date}}"></ion-input>


          </ion-col>
          <ion-col size="3">
        
       
            <ion-label class="label">Fecha Final</ion-label>
            <ion-input   name="fechA_FINAL" [readonly]="true" class="input"   ngModel="{{adelantoViatico.fechA_FINAL  | date}}"></ion-input>




          </ion-col>
          <ion-col size="3">
            <ion-label  class="label">Moneda</ion-label>
            <ion-select placeholder="seleccionar una opcion"  class=select  name="moneda"   [(ngModel)]="adelantoViatico.moneda" >
              <ion-select-option value="₡">₡</ion-select-option>
              <ion-select-option value=":'$',">$</ion-select-option>
            </ion-select>
            
          </ion-col>
          <ion-col size="3">
            <ion-label class="label">Justificación </ion-label>
            <ion-input   name="detalle"  class="input"  placeholder="justificacion"  [(ngModel)]="adelantoViatico.detalle"></ion-input>
          </ion-col>
          <ion-col size="3">
         
            <ion-label  class="label">Compañia</ion-label>
            <ion-select class=select  name="moneda"  name="coD_COMPANIA"    [(ngModel)]="adelantoViatico.coD_COMPANIA" placeholder="seleccionar una opcion" >
              <ion-select-option *ngFor="let compania of companias" [value]="compania.valor">{{compania.valor}}</ion-select-option>
         
            </ion-select>
  
          </ion-col>
          <ion-col size="3">
            <ion-label class="label"># Transaccion </ion-label>
            <ion-input   name="numerO_TRANSACCION"  class="input"  placeholder="# Trasaccion"  [(ngModel)]="adelantoViatico.numerO_TRANSACCION"></ion-input>
          </ion-col>
        
         
        </ion-row>


      </ion-col>



    </ion-row>
  </ion-grid>
  
  <ion-grid >
    <ion-row>
      <ion-col size="4">
    <h3>Lista Usuarios</h3>
      </ion-col>
      <ion-col size="8" class="search-box">
<ion-item  >
  <ion-icon slot="start" name="search"></ion-icon>
<ion-input (ionInput)="updateFilter($event)" type="text" placeholder="Buscar {{filtro.nombre}}"></ion-input>
</ion-item>
        <span class="fab-buttons">
          <ion-button  color="dark"     (click)="listaColaboradores()"    >
            <ion-icon slot="start" color="light" slot="start" name="person-add"></ion-icon>
            <ion-label color="light">Usuarios</ion-label>
               </ion-button>
      <ion-button     type="submit"    >
   <ion-icon slot="start" color="light" slot="start" name="save"></ion-icon>
   <ion-label color="light">Crear Anticipo</ion-label>
      </ion-button>

        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <table class="custom-table">
    <thead>
      <tr>
        <th>
          <ion-checkbox (ionChange)="selectAll($event)"></ion-checkbox>
        </th>
        <th>Usuario</th>
        <th>Nombre</th>
        <th>Monto</th>
        <th>Opciones</th>
      </tr>
    </thead>
    <tbody>

      <tr *ngIf="rows.length ==0">
        
        <td colspan="5" class="ion-text-center">
          No Data found
        </td>
      </tr>


      <tr  *ngFor="let item of rows">
        <td>
          <ion-checkbox  value=""></ion-checkbox>
        </td>
        <td>{{item.usuario}}</td>
        <td>{{item.nombre}}</td>
        <td>

          <ion-input    (ionChange)="updateValue($event)"
           
          type="number"
          [(ngModel)]="item.monto"></ion-input>
        </td>
         
        <td class="last-column">
         
          <ion-button fill="clear" (click)="borrarElemento(item)">
            <ion-icon color="danger" slot="start" name="trash"></ion-icon>
            <ion-label color="danger">Eliminar</ion-label>
          </ion-button>
        </td>
      </tr>
    </tbody>
    
    <tfoot>
      <tr>
        <td colspan="2" ></td>
 
        <td  >
<h5><strong>Total</strong></h5>
        </td>
        <td  >
       <h5><strong>   {{adelantoViatico.monto | colones}}</strong></h5>
        </td>
        <td colspan="1">


          
        </td>
      </tr>
    </tfoot>
  </table>
</form>
</ion-content>

 