 
ion-input, ion-select {
    border-radius: 10px;
    border: solid 1px rgba(218,218,218,1);
    height: 2.5rem;
}
 ion-toolbar{
    --background:white;
    background:white;
 }
ion-label{
    font-weight: 500;
}
.description{
    height: 4rem;
}
.has-focus{
    border: 2px solid #5b9bd1 !important;
}
 