 
 .bg {
    height: 150px;
    background-image: url('../../../assets/imgs/empty-box.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .title
{  font-size: 1.2rem;

}
 .monto {
    font-size: 1.2rem;
    text-transform: uppercase;
 }