

.hideInput{
    position: absolute;
    bottom: -100000000px;
}
ion-fab-button {
    --background: transparent;
    --box-shadow:none;
    label{
        color: #000;
        font-size: 2rem!important;
    }
}
ion-col{
  //  margin-top: 1rem;
}

.transparent {
    --ion-item-background: transparent;
}
ion-label{
    margin-left: 0.5rem;
}
.ion-item{
    max-height: 3rem;
    margin-left: 0.1rem;
    margin-right: 0.1rem;
}