
<ion-content >
<ion-grid style="height: 100%;">
<ion-row  style="height: 100%;"> 
 
  <ion-col size="12" size-md="5" style="height: 100%;padding: 1rem;">

    <ion-row>
 
      <ion-col size="12">
        <ion-row>
          <ion-col size="12" style="display: flex;justify-content:flex-start;align-items: center;">
            <ion-title>
              <strong>Agregar Anticipos</strong>
       
            
            </ion-title>
            <ion-fab-button color="dark" size="small"  >
              {{adelantoVaticos.length}}
            </ion-fab-button>
            <ion-fab-button color="dark" size="small" (click)="crearAdelantoViaticos()">
             <ion-icon   name="create-outline"></ion-icon>
            </ion-fab-button>
          </ion-col>
          
         </ion-row>
      </ion-col>
      <ion-col size="12" style="display: flex;justify-content:flex-start;align-items: center;margin-bottom: 1rem;">
        <ion-label  class="ion-text-capitalize" color="primary" ><strong>Limite Gastos</strong></ion-label>
      </ion-col>
    </ion-row>
    <ion-row >
      <ion-col size="4">
        <ion-label><strong>Monto</strong></ion-label>
      </ion-col>
      <ion-col size="4">
        <ion-label><strong>Monto Total</strong></ion-label>

      </ion-col>
      <ion-col size="4">
        <ion-label> <strong>Monto Restante</strong></ion-label>

      </ion-col>
 
    </ion-row>
    <ion-row >
      <ion-col size="4">
    
        <ion-input class="ion-text-right" name="montoMaximo" [(ngModel)]="montoMaximo"     type="number" placeholder="monto"></ion-input>
      </ion-col>
      <ion-col size="4">
      
        <ion-input class="ion-text-right"  readonly name="montoTotal" value="{{montoTotal  | colones : 2 : '.' : ',' :  '₡'}}"     type="number" placeholder="monto"></ion-input>
    
      </ion-col>
      <ion-col size="4">
     
        <ion-input readonly  name="montoRestante"   [(ngModel)]="montoRestante"   type="number" placeholder="monto"></ion-input>
   
      </ion-col>

    </ion-row>
    
    <ion-col size="12"  style="height: 35%;overflow:auto ;">
    
      <ion-toolbar>
   
        <ion-searchbar (ionChange)="onSearchChange($event)"  mode="ios" placeholder="Buscar Colaborador"  type="text"   [debounce]="250"  ></ion-searchbar>
      </ion-toolbar>
      <ion-list style="height: 35%;overflow: auto;">
        <ion-item   *ngFor="let usuario of usuarios| filtro: textoBuscar:'usuario'; let i = index;" lines="full">
          <ion-fab-button size="small" slot="start" color="warning">
            {{consultarUsuario(usuario)}}
                </ion-fab-button>
          <ion-fab-button (click)="nuevoAdelanto(usuario)" size="small" slot="start" color="dark">
            <ion-icon name="add"></ion-icon>
            </ion-fab-button>
      
          <ion-label>{{usuario.usuario}}</ion-label>
      
        </ion-item>
      </ion-list>
      
          
          
            </ion-col>
    
      </ion-col>
    
      <ion-col size="12" size-md="7" style="height: 100%;overflow: auto;border-left-style: dotted;">
       
    <ion-grid    >
      <ion-row  >
        <ion-col size="12">
          <ion-toolbar>
            <ion-title slot="end">Colaborador</ion-title>
            <ion-chip slot="end" color="dark" mode="ios" outline="true">
              <ion-avatar >
                <img   src="../assets/imgs/user.svg" />
              </ion-avatar>
              <ion-label>{{adelantoViatico.destinatario ? adelantoViatico.destinatario : 'No Selecionado'  }}</ion-label>
            </ion-chip>
     
    <ion-button *ngIf="adelantoViatico.destinatario" (click)="borrarDatos()"   slot="end" fill="clear" shape="round">
              <ion-icon size="large" color="danger" name="trash-outline"></ion-icon>
             </ion-button>
  
              
          </ion-toolbar>
        </ion-col>


        <ion-col size="12">
          <ion-row >
            <ion-col size="4">

              <ion-row>
                <ion-col size="12">
                  <ion-label><strong>Fecha Transacción</strong> </ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-input (click)="fecha('fechaTransaccion')"   readonly  [value]="adelantoViatico.fechaTransaccion  | date" type="text" placeholder="fecha"></ion-input>
                </ion-col>
              </ion-row>
             
            </ion-col>
            <ion-col size="4">

              <ion-row>
                <ion-col size="12">
                  <ion-label><strong>Fecha Inicial</strong></ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-input (click)="fecha('fechaInicial')" readonly  [value]="adelantoViatico.fechaInicial  | date" type="text" placeholder="Fecha"></ion-input>
                </ion-col>
              </ion-row>
              
            
            </ion-col>
            <ion-col size="4">
              <ion-row>
                <ion-col size="12">
              
                  <ion-label><strong>Fecha Final</strong></ion-label>
                </ion-col>
                <ion-col size="12">
                  <ion-input (click)="fecha('fechaFinal')"   readonly  [value]="adelantoViatico.fechaFinal  | date" type="text" placeholder="Fecha"></ion-input>
                </ion-col>
              </ion-row>


             
            </ion-col>
  
          </ion-row>
        </ion-col>
  

  
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-list class="transparent">
        
      <ion-grid >
        <ion-row>
          <ion-col size="6">

            <ion-row>
              <ion-col size="12">
                <ion-label><strong>Descripción</strong></ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input  name="detalle"  [(ngModel)]="adelantoViatico.detalle"   type="text" placeholder="detalle"></ion-input>
              </ion-col>
            </ion-row>



 
          </ion-col>
          <ion-col size="6">
            <ion-row>
              <ion-col size="12">
                <ion-label><strong># Transacción</strong></ion-label>
              </ion-col>
              <ion-col size="12">
                <ion-input  name="numeroTransaccion"  [(ngModel)]="adelantoViatico.numeroTransaccion"   type="text" placeholder="número transacción"></ion-input>
              </ion-col>
            </ion-row>



            </ion-col>
  
            <ion-col size="12" size-md="6">
     <ion-label><strong>Moneda</strong></ion-label>
            </ion-col>
          <ion-col size="6">
            <ion-label><strong>Monto</strong></ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
       
            <ion-item lines="none" >
              <ion-grid >
                <ion-row>
                <ion-col size="6">
                  <ion-item  class="ion-item" lines="none">
                    <ion-badge color="primary" mode="ios">{{adelantoViatico.moneda}}</ion-badge>
                    <ion-select [(ngModel)]="adelantoViatico.moneda"  placeholder="Seleccionar">
                      <ion-select-option value="₡">Colones</ion-select-option>
                      <ion-select-option value="$">Dolares</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-col>
                  <ion-col size="6" class="ion-text-right">
                    <ion-item class="ion-item" lines="none">
                      <ion-input name="monto" [(ngModel)]="adelantoViatico.monto" type="number" placeholder="monto"></ion-input>
                     </ion-item>
                  </ion-col>
                </ion-row>
              </ion-grid>
                    </ion-item>
  
        <ion-item lines="none">
          <ion-button (click)="agregarAdelanto()" style="height: 2.5rem;margin: 0 auto;"    shape="round" fill="outline" color="dark">
           Agregar Anticipo
            </ion-button>
        </ion-item>
          </ion-list>
        </ion-col>
  
   
      </ion-row>
  
    </ion-grid>

      </ion-col>
</ion-row>
  
</ion-grid>
</ion-content>
