<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
<ion-title> EDITAR DEPARTAMENTO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

   
 
  <form id="form" (ngSubmit)="editarDepartamento(fLogin)" #fLogin="ngForm" >
    <app-input    name="nombre" type="text" label="Nombre" ngModel="{{departamento.nombre}}"></app-input>
    <app-input    name="descripcion" type="text" label="Descripción" ngModel="{{departamento.descripcion}}"></app-input>
    


 
    <app-button style="position: absolute;bottom: 0rem;width:90%"  label="Editar Departamento"></app-button>
 

  </form>



 

</ion-content>

 