<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"  fill="clear" slot="start">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
<ion-title> EDITAR DEPARTAMENTO</ion-title>
 
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

   
 
  <form id="form" (ngSubmit)="editarDepartamento(fLogin)" #fLogin="ngForm" >
    <app-input    name="nombre" type="text" label="Nombre" ngModel="{{departamento.nombre}}"></app-input>
    <app-input    name="descripcion" type="text" label="Descripción" ngModel="{{departamento.descripcion}}"></app-input>
    <ion-col size="12">
      <app-input    name="Correo" type="text" label="Correo" ngModel="{{departamento.correo}}"></app-input>
   
  
    </ion-col>
    <ion-col size="12">
      <app-input    name="Telefono" type="text" label="Telefono" ngModel="{{departamento.telefono}}"></app-input>
   
  
    </ion-col>


 
    <app-button   label="Editar Departamento"></app-button>
 

  </form>



 

</ion-content>

 