


<ion-app>
  <ion-split-pane contentId="main-split"   >
    <ion-menu    [ngClass]="configuracionesService.menu   ? 'expand-menu' :'menu-hide'"  contentId="main-content"  type="overlay"   menuId="myMenu">
      <ion-header class="ion-no-border">
        <ion-toolbar   color="any" class="ion-text-center header">
          <h1 >D1</h1>
          <ion-button *ngIf="small"   (click)="toggle()"  slot="end"  fill="clear" >
            <ion-icon color="danger" name="close" size="large"></ion-icon>
          </ion-button>
      
         
      
        </ion-toolbar>
      </ion-header>
            <ion-content>
            
             
              <ion-list id="inbox-list" lines="none">
                
          
                <ion-menu-toggle    auto-hide="false" *ngFor="let p of appPages; let i = index">
                  <ng-template [ngIf]="revisarAcceso(p.url) || p.url == '/inicio/detalle' || p.url == 'perfil' || p.url == 'salir'">
      
                  <ion-item button (click)="menuAction(p.url,p.title)"    style="margin-top:0.5rem" [routerLink]="p.url" routerDirection="root" routerLinkActive="active-item"  lines="none" detail="false" [routerLinkActive]="p.url == 'perfil' || p.url == 'salir' ? '': 'selected'">
                    <ion-icon [ngStyle]="{'margin': !configuracionesService.menu ? '0 auto' : ''}" slot="{{configuracionesService.menu ? 'start':''}}" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
                    <ion-label *ngIf="configuracionesService.menu">{{ p.title }}</ion-label>
                  </ion-item>
                </ng-template>
                </ion-menu-toggle>
          
              </ion-list>
              
         
            </ion-content>
          </ion-menu>
      

  

    <div id="main-split" >
    
      <ion-content id="main-content"> 
     
       <ion-router-outlet  >
   
      
   
       </ion-router-outlet>
      </ion-content>
      
       </div>


  </ion-split-pane>

</ion-app>








