ion-menu {
  transition: all 0.3s ease;
}
.header{
  height: 80px;
  display: flex;
  align-items: center;
}
.split-pane-visible > .split-pane-side {
  transform: translateX(0);
  min-width: 100px !important;
  max-width: 100px !important;
  border: none;
  background-color: #070606;
}

ion-item ion-label {
  font-size: 0.9rem !important;
}

ion-toolbar {
  background-color: #070606;
  color: #fff;
}

h1 {
  color: #fff;
  margin-top: 3.2rem;
  margin-bottom: 3.2rem;
  font-weight: 700;
  font-size: 30px;
}

.split-pane-visible > .expand-menu {
  min-width: 260px !important;
  max-width: 260px !important;
}

ion-item {
  --background: transparent !important;
  color: #fff;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
}

ion-list {
  background-color: #070606;
}

ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #070606));
}

ion-menu.md ion-item.selected {
  border-right: 8px solid #00C9C9;
}

ion-menu.md ion-item.selected ion-icon {
  color: #00C9C9;
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-item:hover {
  background-color: #f8f9fa;
  color: #000;
}
.menu-item-selected {
  background-color: #f8f9fa;
  color: #000;
  border-right: 8px solid #00C9C9;
}

ion-menu.md ion-item.selected ion-icon {
  color: #00C9C9;
}

ion-menu.md ion-item ion-icon {
  color: #616e7e;
}

ion-item:hover {
  background-color: #f8f9fa;
  color: #000;
}