 
ion-thumbnail {
  width: 60px;
  height: 60px;
  margin-top: 1rem;
  margin: 0 auto;
  margin-bottom: 1rem;
}
ion-avatar {
  height: 35px;
  width: 35px;
  img {
    height: 35px;
    width: 35px;
  }
   
}
 
.split-pane-visible>.split-pane-side {
  ion-label{
    display: none;
  }
  min-width: 80px !important;
  max-width: 80px !important;
  border: none;
  background-color: #222428;
  transition: all 0.25s ease-in;
}
.split-pane-visible>.expand-men1 {
  min-width: 240px !important;
  max-width: 240px !important;
  transition: all 0.25s ease-out;
  overflow: auto;
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #222428));
}
:host {
  ion-item {
    &:hover {
      --background-hover: red; 

      ion-label {
        color: #0095FA;
        display: block;
      }
    }
  }
}
ion-item {
  width: 100%;
  --background: transparent !important;
  color: #fff;
  
}
ion-menu.md ion-item ion-icon {
  color: #616e7e;
}
 
ion-footer{
  position: absolute;
  bottom: 0;
  ion-button{
    margin-right: 1rem;
  }
}
ion-fab-button {
  margin-bottom: 0.2rem;
  width: 40px;
height: 40px;
}