<ion-header mode="ios">
    <ion-toolbar mode="md">
      <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
       <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>USUARIO {{linea.usuario}}  /  ESTATUS   <ion-badge color="primary" mode="ios">{{linea.estatus}}</ion-badge></ion-title>
  
  
    </ion-toolbar>
 <ion-grid >
  <ion-row>
    <ion-col size="{{ linea.utilizado == 0 ? 12 : 6 }}">
      <ion-item lines="full" mode="md">
        <ion-label><strong>Monto Dispensado</strong> </ion-label>
        <ion-label slot="end"> {{linea.monto | colones}}</ion-label>
      </ion-item>
       
    </ion-col>
    <ion-col size="6">
      <ion-item lines="full" *ngIf="linea.utilizado > 0" mode="md">
        <ion-label><strong>Monto Utilizado</strong> </ion-label>
        <ion-label slot="end">{{linea.utilizado | colones}}</ion-label>
       </ion-item>
   
    </ion-col>
    <ion-col size="12" *ngIf="linea.restante > 0">
      <ion-item   lines="full"   mode="md">
        <ion-label><strong>Monto Restante</strong> </ion-label>
        <ion-label slot="end">{{linea.restante | colones}}</ion-label>
       </ion-item>
        
    </ion-col>
    <ion-col size="12" *ngIf="sobrante" >
      <ion-item (click)="consultarSobrante()" lines="full"  button mode="md">
    
        <ion-fab-button [color]="sobrante.estatus == 'A' ? 'success' : 'warning'" slot="start" size="small"  >
          <ion-icon [name]="sobrante.estatus == 'A' ? 'checkmark' : 'timer'"></ion-icon>
        </ion-fab-button>


        <ion-label><strong>Solicitud Sobrante </strong> </ion-label>
        <ion-label slot="end">{{linea.restante | colones}}</ion-label>
       </ion-item>
    </ion-col>
    <ion-col size="12" *ngIf="excedente">
      <ion-item (click)="consultarExcedente()" lines="full"   button mode="md">
    
        <ion-fab-button [color]="excedente.estatus == 'A' ? 'success' : 'warning'" slot="start" size="small"  >
          <ion-icon [name]="excedente.estatus == 'A' ? 'checkmark' : 'timer'"></ion-icon>
        </ion-fab-button>


        <ion-label><strong>Solicitud Excedente </strong> </ion-label>
        <ion-label slot="end">{{linea.excedente | colones}}</ion-label>
       </ion-item>
    </ion-col>
  </ion-row>
 </ion-grid>
     
  </ion-header>
  
  <ion-content class="ion-padding">
 
 
    <ion-list>
      <ion-item *ngFor="let row of rows">
        <ion-fab-button [color]="row.estatus == 'A' ? 'success' : 'warning'" slot="start" size="small"  >
          <ion-icon [name]="row.estatus == 'A' ? 'checkmark' : 'timer'"></ion-icon>
        </ion-fab-button>
        <ion-label>{{ row.descripcion }}</ion-label>
        <ion-note  >{{ row.monto  | colones }}</ion-note>
        <ion-button slot="end"  (click)="editarElemento(row)" fill="clear">
          <ion-icon color="warning" name="eye"></ion-icon>
        </ion-button>
 
      </ion-item>
    </ion-list>
 
  </ion-content>
  <ion-footer class="ion-no-border" *ngIf="sobrante && sobrante.estatus =='A' && linea.estatus !='A' 
  || linea.restante == 0 && linea.utilizado == linea.monto  &&  sobrante && sobrante.estatus !='A' && !excedente
   ||  linea.restante == 0 && linea.utilizado == linea.monto  &&  !sobrante && this.linea.estatus !='A' && !excedente
   || excedente && excedente.estatus =='A' && linea.estatus !='A' 
   
   " >
    <ion-toolbar class="ion-padding">
      <app-button (click)="actualizarLineaAnticipo()"  label="Completar Linea Anticipo"></app-button>
       
    </ion-toolbar>
  </ion-footer>
  
  