<ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
       <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
      <ion-title>USUARIO {{linea.usuario}}  /  ESTATUS   <ion-badge color="primary" mode="ios">{{linea.estatus}}</ion-badge></ion-title>
  
  
    </ion-toolbar>
 <ion-grid >
  <ion-row>
    <ion-col size="{{ linea.utilizado == 0 ? 12 : 6 }}">
      <ion-item lines="full" mode="md">
        <ion-label><strong>Monto Dispensado</strong> </ion-label>
        <ion-label slot="end"> {{linea.monto | colones}}</ion-label>
      </ion-item>
       
    </ion-col>
    <ion-col size="6">
      <ion-item lines="full" *ngIf="linea.utilizado > 0" mode="md">
        <ion-label><strong>Monto Utilizado</strong> </ion-label>
        <ion-label slot="end">{{linea.utilizado | colones}}</ion-label>
       </ion-item>
   
    </ion-col>
    <ion-col size="{{sobrante ? 6 : 12 }}">
      <ion-item   lines="full" *ngIf="linea.utilizado > 0" mode="md">
        <ion-label><strong>Monto Restante</strong> </ion-label>
        <ion-label slot="end">{{linea.restante | colones}}</ion-label>
       </ion-item>
        
    </ion-col>
    <ion-col size="6">
      <ion-item (click)="consultarSobrante()" lines="full" *ngIf="sobrante" button mode="md">
        <ion-label><strong>Solicitud Sobrante <ion-badge color="primary" mode="ios">{{sobrante.estatus}}</ion-badge></strong> </ion-label>
        <ion-label slot="end">{{linea.restante | colones}}</ion-label>
       </ion-item>
    </ion-col>
  </ion-row>
 </ion-grid>
     
  </ion-header>
  
  <ion-content class="ion-padding">
 
       
     
    <ngx-datatable 
    class="material   striped"  
    [limit]="8" 
    [rows]="rows" 
    [columns]="columns" 
    [rowHeight]="70" 
    [columnMode]="'force'" 
    [sortType]="multi" 
    [headerHeight]="50" 
    [footerHeight]="50"
    [ngStyle]="{'height': rows.length > 0 ? '100%' : 'auto' }"
    >
  
  
    <ng-template  ngFor let-column [ngForOf]="columns" let-i="index"  >
      <ngx-datatable-column class="strong"   *ngIf="column.id != 'opciones'" name="{{column.label}}" prop="{{column.id}}">
  
      </ngx-datatable-column>
    </ng-template>
    <ngx-datatable-column name="opciones"  prop="opciones">
      <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
  <ion-button (click)="editarElemento(row)"  fill="clear"  >
  <ion-icon color="warning"   name="eye"></ion-icon>
  </ion-button>

      </ng-template>
  </ngx-datatable-column>
  
  </ngx-datatable>
   
  
  
  
 
  </ion-content>
  <ion-footer class="ion-no-border" *ngIf=" sobrante && sobrante.estatus =='A' && linea.estatus !='A' || linea.restante == 0 && linea.utilizado == linea.monto  && sobrante.estatus !='A'" >
    <ion-toolbar class="ion-padding">
      <app-button (click)="actualizarLineaAnticipo()"  label="Completar Linea Anticipo"></app-button>
       
    </ion-toolbar>
  </ion-footer>
  
  