<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="ion-text-capitalize" class="page-title">Control Anticipos</ion-title>
    <ion-searchbar   (ionChange)="updateFilter($event)"   slot="end" style="width:30%;margin-top: 1rem;" mode="ios" placeholder="buscar anticipo"  type="text"   [debounce]="250"  ></ion-searchbar>

    <span style="position: relative;" slot="end">
      <ion-fab-button   size="small"  class="margin-right"    color="dark"  >
        <ion-icon name="notifications"></ion-icon>
      </ion-fab-button>
      <ion-badge style="position: absolute;top: 0;right:-0.5rem" color="primary" mode="ios">0</ion-badge>
    </span>
    <ion-fab-button   slot="end" size="small"  class="margin-right"     color="dark"  >
      <ion-icon name="funnel"></ion-icon>
    </ion-fab-button>
    <ion-fab-button *ngIf="usuariosService.moduloAcceso.c"  size="small"  class="margin-right" (click)="adelantoViaticos()" slot="end" color="dark"  >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
 
    <ion-fab-button  size="small"  (click)="cargarDatos()" class="margin-right" slot="end" color="dark"  >
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
 
</ion-header>

 

<ion-content class="ion-padding">
  <ion-grid  style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="12" style="height: 100%;">
        <ngx-datatable 
        class="material  light striped"
        [limit]="8" 
        [rows]="rows" 
        [rowHeight]="50" 
        [columnMode]="'force'" 
        [sortType]="multi" 
        [headerHeight]="50" 
        [footerHeight]="50"
        style="height: 100%;"
        [columns]="columns" 
        [scrollbarV]="true"
        
        >
      
      
        <ng-template  ngFor let-column [ngForOf]="columns" let-i="index"  >
          <ngx-datatable-column *ngIf="column.id != 'opciones'" name="{{column.label}}" prop="{{column.id}}">
      
          </ngx-datatable-column>
        </ng-template>
        <ngx-datatable-column name="opciones"  prop="opciones">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-button (click)="editarElemento(row)"  fill="clear"  >
      <ion-icon color="warning"   name="create"></ion-icon>
      </ion-button>
      <ion-button  (click)="borrarElemento(row)"   fill="clear"  >
      <ion-icon color="danger" name="trash"></ion-icon>
      </ion-button>
          </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
      </ion-col>
   
    </ion-row>
  </ion-grid>
  </ion-content>
  <app-pie-pagina></app-pie-pagina>