<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-title class="ion-text-capitalize" class="page-title">Control Anticipos</ion-title>
    <ion-searchbar *ngIf="adelantoViaticosArray.length > 0;" (ionChange)="onSearchChange($event)"  slot="end" style="width:30%;margin-top: 1rem;" mode="ios" placeholder="buscar compañia"  type="text"   [debounce]="250"  ></ion-searchbar>
    <ion-fab-button *ngIf="usuariosService.moduloAcceso.c"  size="small"  class="margin-right" (click)="adelantoViaticos()" slot="end" color="dark"  >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
 
    <ion-fab-button  size="small"  (click)="cargarDatos()" class="margin-right" slot="end" color="dark"  >
      <ion-icon name="refresh"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>

  <ion-list *ngIf="adelantoViaticosArray.length > 0;">
    <ion-item lines="full"  >
      <ion-grid >
        <ion-row>
          <ion-col size="1">
            <ion-label><strong>
              Estado
            </strong></ion-label>
                  </ion-col>
          <ion-col size="2">
    <ion-label><strong>
      Compañia
    </strong></ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label><strong>
              Fecha Inicial
            </strong></ion-label>
                  </ion-col>
          <ion-col size="2">
    <ion-label><strong>
      Fecha Final
    </strong></ion-label>
          </ion-col>
    
          <ion-col size="2">
          <ion-label><strong>
            Monto
          </strong></ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label><strong>
              Detalle
            </strong></ion-label>
          </ion-col>
          <ion-col size="1">
            
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-header>

 
<ion-content class="ion-padding">
   
  <ion-grid *ngIf="adelantoViaticosArray.length == 0;"  style="height: 100%;">
    <ion-row  style="height: 100%;display: flex;justify-content: center;align-items: center;">
      <ion-col  size="12" >
        <ion-list>
          <ion-item  lines="none">
     
            <ion-grid  >
              <ion-row>
                <ion-col size="12" class="ion-text-center ion-margin-top">
                  <img height="150" src="assets/imgs/empty-box.svg" alt="">
                </ion-col>
                <ion-col size="12" class="ion-text-center">
                  <strong class="ion-text-capitalize">No hay datos que mostrar</strong>
                </ion-col>
              
              </ion-row>
            </ion-grid>
    
        </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
 


  <ion-list  *ngIf="adelantoViaticosArray.length > 0;">
 

    <ion-item  *ngFor="let adelanto of adelantoViaticosArray| filtro: textoBuscar:'destinatario'; let i = index;">
      <ion-grid >
        <ion-row>
          <ion-col size="1" style="display: flex; justify-content: flex-start;align-items: center;">
   <ion-badge color="warning" mode="ios">{{ adelanto.estatus == 'P' ? 'Pendiente' : 'Requiere Aprobacion'}}</ion-badge>
                  </ion-col>
          <ion-col size="2" style="display: flex; justify-content: flex-start;align-items: center;">
    <ion-label>{{adelanto.coD_COMPANIA}}</ion-label>
          </ion-col>
          <ion-col size="2" style="display: flex; justify-content: flex-start;align-items: center;">
            <ion-label>{{adelanto.fechA_INICIAL | date : 'shortDate' }}</ion-label>
                  </ion-col>
          <ion-col size="2" style="display: flex; justify-content: flex-start;align-items: center;">
    <ion-label>{{adelanto.fechA_FINAL | date : 'shortDate' }}</ion-label>
          </ion-col>
    
          <ion-col size="2" style="display: flex; justify-content: flex-start;align-items: center;"> 
          <ion-label>  {{adelanto.monto | colones : 2 : '.' : ',' :  adelanto.moneda }}</ion-label>
          </ion-col>
          <ion-col size="2" style="display: flex; justify-content: flex-start;align-items: center;">
            <ion-label>  {{adelanto.detalle}}</ion-label>

  
          </ion-col>
          <ion-col size="1" style="display: flex; justify-content: flex-start;align-items: center;">
 
       <ion-fab-button *ngIf="usuariosService.moduloAcceso.u" (click)="detalleAdeltanto(adelanto)" color="dark" size="small">
        <ion-icon name="create"></ion-icon>
       </ion-fab-button>
                  </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  </ion-content>
  <app-pie-pagina></app-pie-pagina>