 ion-toolbar{
    --background:#fff;
}
ion-input, ion-select {
    border-radius: 10px;
    border: solid 1px rgba(218,218,218,1);
    height: 2.5rem;
    width: 100%;
padding: 0.2rem;
text-indent: 0.2cm;
}
 
ion-label{
    font-size: 1rem;
    font-weight: 500;
}
.description {
    height: 4rem;
}
.has-focus {
    border: 2px solid #5b9bd1 !important;
  }
 
   ion-item{
    border-radius: 10px;
 
   }

   ion-content{
   // --background: #e7edfb;
   }

   ion-card{
   // --background:rgba(0, 0, 0, 0.08);
   //box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
}
 

