


<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
<ion-title>CREAR ROL ACCESO</ion-title>
<ion-label slot="end" style="margin-right: 0.5rem;"><strong>Aprobador</strong></ion-label>
<ion-toggle slot="end" name="aprobador" [(ngModel)]="acceso.aprobador"></ion-toggle>
</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

   
 
  <form id="form" (ngSubmit)="crearRolAcceso(fAcceso)" #fAcceso="ngForm" >
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <app-input    name="id" type="text" label="ID Role" ngModel="{{acceso.id}}"></app-input>
 
   
    </ion-col>
    <ion-col size="12">
      <app-input    name="nombre" type="text" label="Nombre" ngModel="{{acceso.nombre}}"></app-input>
      
 
    </ion-col>
    <ion-col size="12">
      <app-select label="Compañia" data=""></app-select>
 
    </ion-col>
    <ion-col size="12">
                
      <app-select label="Departamento" data=""></app-select>
 
    </ion-col>
    <ion-col size="12">
      <app-select label="Modulos" data=""></app-select>
 
    </ion-col>
    <ion-col size="3">
      Lectura
    </ion-col>
    <ion-col size="3">
      Creación
    </ion-col>
    <ion-col size="3">
      Modificar
    </ion-col>
    <ion-col size="3">
      Borrar
    </ion-col>
  <ion-col size="3">
  <ion-toggle  [disabled]="true" name="r" [(ngModel)]="acceso.r"></ion-toggle>
  </ion-col>
  <ion-col size="3">
  <ion-toggle name="c" [(ngModel)]="acceso.c" ></ion-toggle>
  </ion-col>
  <ion-col size="3">
  <ion-toggle name="u" [(ngModel)]="acceso.u"></ion-toggle>
  </ion-col>
  <ion-col size="3">
  <ion-toggle name="d" [(ngModel)]="acceso.d"></ion-toggle>
  </ion-col>

  </ion-row>
</ion-grid>
<app-button style="position: absolute;bottom: 0rem;width:90%"  label="Crear Role Acceso"></app-button>
  </form>



 

</ion-content>

 


