ion-toolbar {
  --background:#fff;
  ion-title {
    font-weight: 500;
  }
}
.checkbox-column {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 20px;
 font-weight: 500;
}
ion-content ion-button {
  margin-top: 2rem;
}