<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title size="large">Sobrantes</ion-title>
    <ion-fab-button (click)="actualizarSobrante()" size="small" slot="end" color="dark">
      <ion-icon name="save"></ion-icon>
    </ion-fab-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list>
  <ion-item lines="full" *ngIf="sobrante">
    <ion-grid >
      <ion-row>

        <ion-col size="6">
          <ion-row>
            <ion-col size="12">
              <ion-label><strong>Monto Sobrante</strong></ion-label>
            </ion-col>
            <ion-col size="12">
              <ion-input readonly="true" [value]="sobrante.monto | colones"></ion-input>
            </ion-col>
          </ion-row>
        </ion-col>
 
        <ion-col size="6">
   <ion-row>
    <ion-col size="12">
      <ion-label><strong>Metodo devolución</strong></ion-label>

    </ion-col>
    <ion-col size="12">
      <ion-select   [(ngModel)]="sobrante.metodO_DEVOLUCION"   placeholder="Seleccionar" class="ion-text-left">
        <ion-select-option value="sinpe">Sinpe</ion-select-option>
        <ion-select-option value="transferencia">Transferencia</ion-select-option>
        <ion-select-option value="deposito">Deposito</ion-select-option>
      </ion-select>
    </ion-col>
   </ion-row>
        </ion-col>

        <ion-col size="6">
          <ion-row>
           <ion-col size="12">
             <ion-label><strong>Estado</strong></ion-label>
           </ion-col>
           <ion-col size="12">
             <ion-select   [(ngModel)]="sobrante.estatus"   placeholder="Seleccionar" class="ion-text-left">
               <ion-select-option value="P">Pendiente</ion-select-option>
               <ion-select-option value="I">Requiere Aprobacion</ion-select-option>
               <ion-select-option value="A">Arobada</ion-select-option>
               <ion-select-option value="R">Rechazada</ion-select-option>
             </ion-select>
           </ion-col>
          </ion-row>
               </ion-col>
               <ion-col size="6">

                <ion-row>
                  <ion-col size="12">
                    <ion-label><strong>Observaciones</strong></ion-label>
                  </ion-col>
                  <ion-col size="12">
                    <ion-input class="description" [(ngModel)]="sobrante.observaciones"></ion-input>
                  </ion-col>
                </ion-row>
              </ion-col>
              <ion-col size="6"  >
                <ion-label><strong>Adjunto</strong></ion-label>
                <ion-fab-button for="myinput" size="small" *ngIf="!file"  color="dark"  >
                  <label for="myinput">
                    <ion-icon   name="image-outline"></ion-icon>
                  </label>
                  <input #myInput  id="myinput" name="image" type="file" class="hideInput" (change)="adjuntarImagen($event)">
                </ion-fab-button>
              </ion-col>
              <ion-col size="6">
                <ion-input name="archivo" [value]="file ? file.name : ''"  type="text" readonly placeholder="Archivo">
         
                </ion-input>
              </ion-col>
              <ion-col size="12"  class="ion-text-center" *ngIf="file">
        
              <img *ngIf="img"   style="max-height: 200px;width: 100%;object-fit: cover"  src="{{img}}" alt="">
 
              <ion-fab  *ngIf="img"   style="position:absolute;top:1rem;right:1rem;display: flex;justify-content:end;">
      
                <ion-fab-button  size="small"  *ngIf="file"   (click)="borrarImagen()"   color="dark" >
                  <ion-icon name="close-outline"></ion-icon>
                </ion-fab-button>
              
           
              </ion-fab>
         
              </ion-col>
      </ion-row>
    </ion-grid>
      </ion-item>
 

           
 
 

</ion-list>
</ion-content>
