<ion-header mode="ios">
  <ion-toolbar mode="md">
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
     </ion-button>
    <ion-title  >Sobrantes</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" (ngSubmit)="actualizarSobrante(fSobrante)"     #fSobrante="ngForm" class="ion-padding">
  <ion-grid >
    <ion-row>

      <ion-col size="6" *ngIf="sobrante">

        <app-input name="monto" [readonly]="readonly" label="Monto Sobrante" ngModel="{{sobrante.monto | colones}}"></app-input>
         
      </ion-col>

      <ion-col size="6">
<app-select [readonly]="readonly" label="Metodo Devolucion" name="metodO_DEVOLUCION" [data]="metodoDevolucion" ngModel="{{sobrante.metodO_DEVOLUCION}}"></app-select>
      </ion-col>
      <ion-col size="6">

        <app-input name="telefono" [readonly]="readonly"  label="Telefono" ngModel="{{sobrante.telefono}}"  ></app-input>
   
      </ion-col>
      <ion-col size="6">

        <app-input name="cuenta" [readonly]="readonly" label="Cuenta" ngModel="{{sobrante.cuenta}}"  ></app-input>
   
      </ion-col>
      <ion-col size="6">
        <app-select [readonly]=" sobrante.estatus == 'A' ? true : false" label="Estatus" name="estatus" [data]="estatus" ngModel="{{sobrante.estatus}}"></app-select>
             </ion-col>
             <ion-col size="6">

              <app-input name="observaciones"  label="Observaciones" ngModel="{{sobrante.observaciones}}"  ></app-input>
         
            </ion-col>
      
    </ion-row>
  </ion-grid>
  
<app-button *ngIf="sobrante.estatus == 'RA' || sobrante.estatus == 'P' || sobrante.estatus == 'R'" style="position: fixed;bottom: 1rem;width:95%"  label="Actualizar" ></app-button>
  </form>
</ion-content>
