

 
<ion-content class="ion-padding">
 
  <ion-grid    >

    <ion-row >
      <ion-col  *ngIf="gastos.length > 0" size="6"   >
        <app-pie-chart ></app-pie-chart>
                </ion-col>
 <ion-col size="{{gastos.length > 0 ? 6 : 12 }}">
  
<ion-list>

  <ion-item>
<ion-grid >
  <ion-row  style="margin-bottom: 1rem;">

    <ion-col size="6" class="ion-text-left">
 
<h6 class="ion-text-wrap"> <strong>Anticipo # {{adelantosService.adelantoViatico.id}} -  {{adelantosService.adelantoViatico.coD_COMPANIA}}</strong></h6>
    </ion-col>
    <ion-col size="6">
      <ion-row>

        <ion-col size="12" class="ion-text-left" style="margin-bottom: 0.2rem;">
          <ion-label><strong>Fecha Transacción {{adelantosService.adelantoViatico.fechA_TRANSACCION  | date:'shortDate'}}</strong></ion-label>
        </ion-col>
        <ion-col size="12" class="ion-text-left"  style="margin-bottom: 0.2rem;">
          <ion-label><strong>Fecha Inicial {{adelantosService.adelantoViatico.fechA_INICIAL  | date:'shortDate'}}</strong></ion-label>
        </ion-col>
        <ion-col size="12" class="ion-text-left"  style="margin-bottom: 0.2rem;">
          <ion-label><strong>Fecha Final {{adelantosService.adelantoViatico.fechA_FINAL | date:'shortDate'}}</strong></ion-label>
        </ion-col>

      </ion-row>
    </ion-col>


  </ion-row>
  <ion-row  style="padding-bottom: 0.5rem;">
    <ion-col size="3" style="margin-bottom: 0.2rem;">
      <ion-label><strong># Transacción</strong></ion-label>
      </ion-col>
    <ion-col size="3" style="margin-bottom: 0.2rem;">
    <ion-label><strong>Descripción</strong></ion-label>
    </ion-col>
    <ion-col size="3" style="margin-bottom: 0.2rem;">
      <ion-label><strong>Monto</strong></ion-label>
    </ion-col>
    <ion-col size="3" style="margin-bottom: 0.2rem;">
      <ion-label><strong>Usuarios</strong></ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label >{{adelantosService.adelantoViatico.numerO_TRANSACCION}}</ion-label>
    </ion-col>
    <ion-col size="3">
    <ion-label>{{adelantosService.adelantoViatico.detalle}}</ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label>{{adelantosService.adelantoViatico.monto | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}</ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label>{{lineas.length}}</ion-label>
    </ion-col>
  </ion-row>
  <ion-row  style="padding-bottom: 0.5rem;">
    <ion-col size="3" style="margin-bottom: 0.2rem;">
      <ion-label><strong>Estado</strong></ion-label>
      </ion-col>
    <ion-col size="3" style="margin-bottom: 0.2rem;">
    <ion-label><strong>Completadas</strong></ion-label>
    </ion-col>
    <ion-col size="3" style="margin-bottom: 0.2rem;">
      <ion-label><strong>Pendientes</strong></ion-label>
    </ion-col>
    <ion-col size="3" style="margin-bottom: 0.2rem;">
      <ion-label><strong>Sobrantes</strong></ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label > </ion-label>
    </ion-col>
    <ion-col size="3">
    <ion-label> </ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label> </ion-label>
    </ion-col>
    <ion-col size="3">
      <ion-label>{{adelantosService.adelantoViatico.restante | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}</ion-label>
    </ion-col>

  </ion-row>

</ion-grid>
  </ion-item>
  
</ion-list>

<ion-list class="list" style="height: 50vh;overflow: auto;">
  <ion-item class="ion-no-padding"   lines="full" *ngFor="let usuario of  lineas; let i = index;"  >
      
    <ion-avatar  slot="start">
      <img   src="../assets/imgs/user.svg" />
    </ion-avatar>

    <ion-label slot="start">{{usuario.usuario}}

      <p style="margin-top: 0.5rem;">
        <ion-badge color="primary" mode="ios">{{usuario.monto | colones : 2 : '.' : ',' :  adelantosService.adelantoViatico.moneda }}</ion-badge>
      </p>
      <p>
        <ion-badge   color="warning" mode="ios">{{usuario.estatus == 'P' ?  'Pendiente' :  usuario.estatus == 'A' ? 'Aprobada' : usuario.estatus == 'I' ? 'Requiere Aprobacion' : 'Rechazada'}}</ion-badge>
      </p>

    </ion-label>

    <span  slot="end"   style="position: relative;">
      <ion-fab-button (click)="notificarUsuario(usuario)" size="small">
        <ion-icon name="mail"></ion-icon>
      </ion-fab-button>
      <ion-badge style="position: absolute; top: 0rem;right: -1rem;" color="warning" mode="ios">{{usuario.correO_ENVIADO}}</ion-badge>
    </span>
    <ion-fab-button slot="end" (click)="lineaGastos(usuario)"  size="small">
      <ion-icon name="eye"></ion-icon>
    </ion-fab-button>
  </ion-item>

</ion-list>
<ion-row *ngIf="liquidar">
  <ion-col size="12">
    <ion-button   class="ion-padding"  (click)="liquidarAnticipo()"   expand="block" fill="solid" color="dark" mode="ios">
      Liquidar Anticipo
    </ion-button>
  </ion-col>

</ion-row>
 </ion-col>
 
         
    </ion-row>
   
  </ion-grid>

  

  
  </ion-content>
  <app-pie-pagina></app-pie-pagina>