
ion-button {
  margin-top: 2rem;
  --box-shadow: none;
  --border-radius: 1rem;
  --background: linear-gradient(
    90deg,
    rgba(54, 172, 198, 1)0%,
    rgb(72, 151, 167) 100%
  );
  height: 2.8rem;
  font-size: 1rem;
  color: #fff;
  margin-bottom: 0.5rem;
  text-transform: initial;
}
