<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
     </ion-button>
    <ion-title  >Devoluciones</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
  <form id="form" (ngSubmit)="actualizarDevolucion(fSobrante)"     #fSobrante="ngForm" class="ion-padding">
  <ion-grid >
    <ion-row>

      <ion-col size="6"  >

        <app-input name="monto" label="Monto Devolucion"  ></app-input>
         
      </ion-col>

      <ion-col size="6">
<app-select [readonly]="readonly" label="Metodo Devolucion" name="metodO_DEVOLUCION"  ></app-select>
      </ion-col>

      <ion-col size="6">
        <app-select  label="Estatus" name="estatus"   ></app-select>
             </ion-col>
             <ion-col size="6">

              <app-input name="observaciones"  label="Observaciones"   ></app-input>
         
            </ion-col>
            <ion-col size="12"  style="display: flex;justify-content: space-between;align-items: center;">
              <app-input   name="adjunto" style="display: block;margin-top: 1rem;"  label="Adjunto" ></app-input>
              <ion-fab-button  size="small">
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
         
            </ion-col>
  
    </ion-row>
  </ion-grid>
  
<app-button  style="position: fixed;bottom: 1rem;width:95%"  label="Actualizar" ></app-button>
  </form>
</ion-content>
