<ion-header mode="ios" >
  <ion-toolbar mode="md">
    <ion-button (click)="cerrarModal()"  fill="clear" slot="start">
      <ion-icon color="dark" size="large" name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Estado de Cuenta</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-grid >
    <ion-row>
      <ion-col size="6">
    
        <ion-label>Fecha</ion-label>
        <ion-item (click)="fecha()" class="ion-item" lines="none">
         <ion-input  readonly  [value]="formatoFecha  | date" type="text" placeholder="Fecha"></ion-input>
        </ion-item>
      </ion-col>
    
      <ion-col size="6">
    
        <ion-label>Monto</ion-label>
        <ion-item class="ion-item" lines="none">
         <ion-input name="monto" [(ngModel)]="estadoCuenta.monto" type="number" placeholder="Monto"></ion-input>
        </ion-item>
      </ion-col>
  
      <ion-col size="12">
        <ion-label>Archivo</ion-label>
        <ion-item class="ion-item" lines="none">
    
            <ion-input [value]="fileName" placeholder="Archivo" ></ion-input>
            <ion-fab-button size="small" slot="end" >
              <label for="input" style="font-size: 20pt; padding: 20px" >
                <ion-icon name="cloud-upload-outline"></ion-icon>
              </label>
              <input  id="input" type="file" class="hideInput" (change)="adjuntarArchivo($event)">
            </ion-fab-button>
          </ion-item>
       
      </ion-col>
      <ion-col size="12">
        <ion-radio-group [value]="usuario">
          <ion-list>
            <ion-list-header>
       <ion-searchbar mode="ios" placeholder="Buscar Usuario"  type="text"   [debounce]="250"  ></ion-searchbar>
            </ion-list-header>
            <ion-item (click)="seleccionarUsuario(usuario, i+1)"  *ngFor="let usuario of usuarios; let i = index;">
              <ion-label>{{usuario.usuario}}</ion-label>
            <ion-radio [value]="usuario.usuario"></ion-radio>
            </ion-item>
      
          
          </ion-list>
        </ion-radio-group>
  
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

 
<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding">
<ion-button (click)="generarPost()" expand="block" fill="solid" color="dark">
Enviar Estado De Cuenta
</ion-button>
  </ion-toolbar>
</ion-footer>
