 


<ion-content class="ion-padding">
 
  <app-menu-button titulo="Departamentos"></app-menu-button>

<ion-header class="ion-no-border">
  <ion-toolbar  >
<ion-grid >
  <ion-row>
    <ion-col size="12" size-md="6">
   
    </ion-col>
    <ion-col size="12" size-md="6">
 
      <div class="search-container">
        <ion-searchbar   (ionChange)="updateFilter($event)"     mode="ios" placeholder="buscar departamento"  type="text"   [debounce]="250"  ></ion-searchbar>
        <ion-fab-button color="any" *ngIf="usuariosService.moduloAcceso.c" (click)="crearDepartamento()" size="small"         >
          <ion-icon name="add"></ion-icon>
        </ion-fab-button>
      </div>
    </ion-col>
  </ion-row>
</ion-grid>
  </ion-toolbar>
 

 
</ion-header>
<ion-grid  >
  <ion-row>
    <ion-col size="12" >
      <ngx-datatable 
      class="material  light striped"
      [limit]="8" 
      [rows]="rows" 
      [rowHeight]="50" 
      [columnMode]="'force'" 
      [sortType]="multi" 
      [headerHeight]="50" 
      [footerHeight]="50"
      style="height: 100%;"
      [columns]="columns" 
      
      >
    
    
      <ng-template  ngFor let-column [ngForOf]="columns" let-i="index"  >
        <ngx-datatable-column *ngIf="column.id != 'opciones'" name="{{column.label}}" prop="{{column.id}}">
    
        </ngx-datatable-column>
      </ng-template>
      <ngx-datatable-column name="opciones"  prop="opciones">
        <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
    <ion-button (click)="editarElemento(row)"  fill="clear"  *ngIf="usuariosService.moduloAcceso.u">
    <ion-icon color="warning"   name="create"></ion-icon>
    </ion-button>
    <ion-button  (click)="borrarElemento(row)"   fill="clear"  *ngIf="usuariosService.moduloAcceso.d">
    <ion-icon color="danger" name="trash"></ion-icon>
    </ion-button>
        </ng-template>
    </ngx-datatable-column>
    </ngx-datatable>
    </ion-col>
 
  </ion-row>
</ion-grid>
</ion-content>
<app-pie-pagina></app-pie-pagina>