<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
      <ion-icon size="large" name="close-outline"></ion-icon>
    </ion-button>
<ion-title>    <h1>Crear Departamento</h1></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

   
 
  <form id="form" (ngSubmit)="crearDepartamento(fLogin)" #fLogin="ngForm" class="ion-padding">
    <app-input    name="nombre" type="text" label="Nombre" ngModel="{{departamento.nombre}}"></app-input>
    <app-input    name="descripcion" type="text" label="Descripción" ngModel="{{departamento.descripcion}}"></app-input>
    


    <app-button  label="Registar Departamento"></app-button>
 

  </form>



 

</ion-content>

 