<ion-content class="ion-padding">

  <form id="form" (ngSubmit)="login(fLogin)" #fLogin="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="ion-text-center">
          <img   style="margin: 0 auto;" src="assets/coris.png" alt="">
          <h1>Inicio Sesión</h1>
  
        </ion-col>
  
      </ion-row>
    </ion-grid>
    <app-input    name="correo" type="text" label="Correo" ngModel="{{correo}}"></app-input>
    <app-input   name="clave" type="password" label="Contraseña" ngModel="{{clave}}"></app-input>


    <app-button label="Iniciar Sessión"></app-button>
 

  </form>


</ion-content>