/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
* {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  //color: #616e7e;
}
ion-modal.ui-modal {
  border-radius: none;
  &::part(content){
    height: 100vh; 
  }


}
ion-modal.medium-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  --border-radius: 0px!important;
  --backdrop-opacity: 0.8 !important;
  align-items: center;
  justify-content: center; 

}


// How to avoid "-internal-autofill-selected" style to be applied to input fields in Chrome
/* Remove Chrome autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  transition: background-color 0s 9999s !important;
  -webkit-text-fill-color: #555 !important;
  transition: -webkit-text-fill-color 9999s;
}


.form-group {
  margin-bottom: 1rem;
}

.label {
  display: block;
  color: #333;
 margin-bottom: 14px;
 margin-left: 5px;
}
label {
  text-transform: lowercase!important;
}
label:first-letter{
  text-transform: capitalize;
}
.input,
.textarea {
  display: block;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
 // background-color: #f5f5f5;
  transition: border-color 0.3s ease;
  text-indent: 5px;
  margin-bottom: 8px;
}
 
.textarea {
  height: 80px;
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
 // background-color: #f5f5f5;
  transition: border-color 0.3s ease;
  text-indent: 5px;
  margin-bottom: 8px;

}
.select {
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #555;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
 // background-color: #f5f5f5;
  transition: border-color 0.3s ease;
  text-indent: 5px;
  margin-bottom: 8px;
  padding-right: 10px;
}

 .select:focus {
  outline: none;
  border-color: #0984e3;
} 
.input:focus,
.textarea:focus {
  outline: none;
  border-color: #0984e3;
}
.has-focus {
  outline: none;
  border-color: #0984e3;
}
  ion-text{
    display: block;
    margin-left: 4px;
    margin-top: 0.5rem;
   margin-bottom: 16px;
}
.padding-top {
  padding-top: 10px;
}
.padding-bottom {
  padding-bottom: 10px;
}
  @media screen and (min-width: 600px) {
    ion-modal.medium-modal {
      &::part(content){ 
        width: 50vw; // Cambia esto al tamaño fijo que desees
        height: 100%; // Cambia esto al tamaño fijo que desees
      }
    }

  }
  @media screen and (max-width: 600px) {
   
  }