<ion-header class="ion-no-border">
  <ion-toolbar class="ion-padding">
    <ion-title class="ion-text-capitalize" class="title"><strong>Dashboard Gastos</strong></ion-title>
   
  </ion-toolbar>
</ion-header>

 
<ion-content class="ion-padding">
   
    <ion-grid  >
      <ion-row >
        <ion-col size="12" *ngIf="gastos.length == 0;">
          <ion-list>
            <ion-item  lines="none">
       
              <ion-grid  >
                <ion-row>
                  <ion-col size="12" class="ion-text-center ion-margin-top">
                    <img height="150" src="assets/imgs/empty-box.svg" alt="">
                  </ion-col>
                  <ion-col size="12" class="ion-text-center">
                    <strong class="ion-text-capitalize">No hay datos que mostrar</strong>
                  </ion-col>
                
                </ion-row>
              </ion-grid>
      
          </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-md="6">
    
          <ion-list lines="full" class="fixed-scroll">
         
            <ion-item *ngFor="let gasto of gastos; let i = index;" detail>
              <ion-fab-button color="success" size="small" slot="start">
                {{gasto.gastos.length}}
              </ion-fab-button>
              <ion-label>{{gasto.gasto}}</ion-label>
        
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col size="12" size-md="6"  style="display: flex;justify-content: center;align-items: center;" >
    
<span  [ngStyle]="{'min-height': chartHeight,'width': chartHeight}" >
  <canvas   baseChart 
  [data]="pieChartData"
  [type]="pieChartType"
  [options]="pieChartOptions"
  [plugins]="pieChartPlugins">
 
</canvas>
</span>


        
        </ion-col>
      </ion-row>
    </ion-grid>
 

 
  </ion-content>
