
<ion-header class="ion-no-border">
  <ion-toolbar  >
    <ion-title class="ion-text-capitalize" class="page-title"> 
      Usuarios</ion-title>
      <ion-searchbar  (ionChange)="updateFilter($event)"    slot="end" style="width:30%;margin-top: 1rem;" mode="ios" placeholder="buscar usuario"  type="text"   [debounce]="250"  ></ion-searchbar>
    <ion-fab-button *ngIf="usuariosService.moduloAcceso.c" (click)="crearUsuario()"  size="small"    class="margin-right"  slot="end" color="dark"  >
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>

  </ion-toolbar>
 
</ion-header>


<ion-content class="ion-padding">
  <ion-grid  style="height: 100%;">
    <ion-row style="height: 100%;">
      <ion-col size="12" style="height: 100%;">
        <ngx-datatable 
        class="material  light striped"
        [limit]="8" 
        [rows]="rows" 
        [rowHeight]="50" 
        [columnMode]="'force'" 
        [sortType]="multi" 
        [headerHeight]="50" 
        [footerHeight]="50"
        style="height: 100%;"
        [columns]="columns" 
        [scrollbarV]="true"
        
        >
      
      
        <ng-template  ngFor let-column [ngForOf]="columns" let-i="index"  >
          <ngx-datatable-column *ngIf="column.id != 'opciones'" name="{{column.label}}" prop="{{column.id}}">
      
          </ngx-datatable-column>
        </ng-template>
        <ngx-datatable-column name="opciones"  prop="opciones">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
      <ion-button (click)="editarElemento(row)"  fill="clear"  >
      <ion-icon color="warning"   name="create"></ion-icon>
      </ion-button>
      <ion-button  (click)="borrarElemento(row)"   fill="clear"  >
      <ion-icon color="danger" name="trash"></ion-icon>
      </ion-button>
          </ng-template>
      </ngx-datatable-column>
      </ngx-datatable>
      </ion-col>
   
    </ion-row>
  </ion-grid>
  </ion-content>
  <app-pie-pagina></app-pie-pagina>