<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-button (click)="cerrarModal()"   fill="clear"  slot="start">
      <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
    </ion-button>
<ion-title>CREAR USUARIO</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <form id="form" (ngSubmit)="crearDepartamento(fLogin)" #fLogin="ngForm" class="ion-padding">
<ion-grid >
  <ion-row>
    <ion-col size="12">
      <ion-row>
 
        <ion-col size="12">

          <app-select label="Roles"></app-select>
      
      
        </ion-col>
      </ion-row>
          </ion-col>
    <ion-col size="6">
      <ion-row>
        <ion-col size="12">
         <app-input   type="text"label="Nombre" name="nombre"></app-input>
        </ion-col>
     
      </ion-row>
          </ion-col>
          <ion-col size="6">
            <ion-row>
           
              <ion-col size="12">
                <app-input  type="text" label="Apellido" name="apellido"></app-input>
              </ion-col>
            </ion-row>
                </ion-col>
                
          <ion-col size="12">
            <ion-row>
        
              <ion-col size="12">
                <app-input  type="text" label="Correo" name="correo"></app-input>
              </ion-col>
 
            </ion-row>
                </ion-col>

                <ion-col size="6">
                  <ion-row>
            
                    <ion-col size="12">
                      <app-input label="Usuario" type="text"  name="usuario"></app-input>
                    </ion-col>
                  </ion-row>
                      </ion-col>
                <ion-col size="6">
                  <ion-row>
                    
                    <ion-col size="12">
                      <app-input label="Contraseña" type="password" name="clave"></app-input>
                    </ion-col>
       
                  </ion-row>
                      </ion-col>

              
  </ion-row>
</ion-grid>
    


<app-button style="position: fixed;bottom: 1rem;width:90%"  label="Crear Usuario"></app-button>
 

</form>

</ion-content>

 
 