
<ion-header mode="ios">
  <ion-toolbar mode="md" >
 
    <ion-title>Liquidacion Gastos Sin Anticipo
    </ion-title>
 
    <ion-button  color="warning" expand="block" mode="md"  slot="end" shape="round" style="margin-right: 20px;">
      Guardar Cambios
    </ion-button>
   
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding" >
  <form id="form" #form="ngForm">
 
    <ion-grid>
      <!-- Row 1 -->
      <ion-row>
        <ion-col size="12" size-md="3">
          <ion-label class="label">Compañia</ion-label>
          <ion-input (ionInput)="updateFilter($event,filtro)" type="text" placeholder="Buscar {{filtro.nombre}}"></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Estatus</ion-label>
          <ion-select value="P"  class="select">
            <ion-select-option value="P">Pendiente</ion-select-option>
            <ion-select-option value="RA">Requiere Aprobacion</ion-select-option>
            <ion-select-option value="A">Aprobado</ion-select-option>
            <ion-select-option value="R">Rechazado</ion-select-option>
          </ion-select>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Fecha Inicial</ion-label>
          <ion-input readonly class="input" value="{{ gastosSinanticipoService.fechaInicioMes | date }}"></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Fecha Final</ion-label>
          <ion-input readonly class="input" value="{{ gastosSinanticipoService.fechaFinMes | date }}"></ion-input>
        </ion-col>
      </ion-row>
  
      <!-- Row 2 -->
      <ion-row>
        <ion-col size="12" size-md="3">
          <ion-label class="label">Justificación</ion-label>
          <ion-input readonly class="input" value="Liquidacion Gastos Sin anticipo"></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Asiento Apertura</ion-label>
          <ion-input readonly class="input" value=""></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Asiento Cierre</ion-label>
          <ion-input readonly class="input" value=""></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Moneda</ion-label>
          <ion-input readonly class="input" value="{{ gastosSinanticipoService.moneda }}"></ion-input>
        </ion-col>
      </ion-row>
  
      <!-- Row 3 -->
      <ion-row>
        <ion-col size="12" size-md="3">
          <ion-label class="label">Monto Dispensado</ion-label>
          <ion-input readonly class="input" value="{{ utilizado | colones : 2 : '.' : ',' : gastosSinanticipoService.moneda }}"></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Utilizado</ion-label>
          <ion-input readonly class="input" value="{{ utilizado | colones : 2 : '.' : ',' : gastosSinanticipoService.moneda }}"></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Restante</ion-label>
          <ion-input readonly class="input" value="{{ 0 | colones : 2 : '.' : ',' : gastosSinanticipoService.moneda }}"></ion-input>
        </ion-col>
  
        <ion-col size="12" size-md="3">
          <ion-label class="label">Excedente</ion-label>
          <ion-input readonly class="input" value="{{ 0 | colones : 2 : '.' : ',' : gastosSinanticipoService.moneda }}"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
 
    <ion-grid >
      <ion-row>
 
        <ion-col size="3">
          <ion-list>
    
            <ion-item (click)="segmentChanged('P')" color="{{segment === 'P' ? 'primary' : ''}}">
              <ion-icon slot="start" size="large" [color]="segment === 'P' ? 'light' : ''" name="time"></ion-icon>
              <ion-label>Pendientes</ion-label>
              <ion-badge slot="end" [color]="segment === 'P' ? 'secondary' : 'primary'">{{p}}</ion-badge>
            </ion-item>
            <ion-item (click)="segmentChanged('RA')" color="{{segment === 'RA' ? 'warning' : ''}}">
              <ion-icon slot="start" size="large" [color]="segment === 'RA' ? 'light' : ''" name="alert-circle-outline"></ion-icon>
              <ion-label>Requieren Aprobación</ion-label>
              <ion-badge slot="end" [color]="segment === 'RA' ? 'secondary' : 'primary'">{{ra}}</ion-badge>
            </ion-item>
            <ion-item (click)="segmentChanged('A')" color="{{segment === 'A' ? 'success' : ''}}">
              <ion-icon slot="start" size="large" [color]="segment === 'A' ? 'light' : ''" name="checkmark-circle-outline"></ion-icon>
              <ion-label>Aprobadas</ion-label>
              <ion-badge slot="end" [color]="segment === 'A' ? 'secondary' : 'primary'">{{a}}</ion-badge>
            </ion-item>
            <ion-item (click)="segmentChanged('R')" color="{{segment === 'R' ? 'danger' : ''}}">
              <ion-icon slot="start" size="large" [color]="segment === 'R' ? 'light' : ''" name="close-circle-outline"></ion-icon>
              <ion-label>Rechazadas</ion-label>
              <ion-badge slot="end" [color]="segment === 'R' ? 'secondary' : 'primary'">{{r}}</ion-badge>
            </ion-item>
          </ion-list>

           

        </ion-col>
        <ion-col size="9">

 
              <ion-row>
                <ion-col size="12">
                  <ion-row>
      
           
           
                    <ion-col size="12" class="search-box">
              <ion-item  >
                <ion-icon slot="start" name="search"></ion-icon>
                <ion-input (ionInput)="updateFilter($event,filtro)" type="text" placeholder="Buscar {{filtro.nombre}}"></ion-input>
              </ion-item>
                      <span class="fab-buttons">
                        <ion-button  color="dark"  (click)="mostrarEstadisiticas()"      >
                          <ion-icon slot="start" color="light" slot="start" name="pie-chart"></ion-icon>
                          <ion-label color="light">Estadisticas</ion-label>
                             </ion-button>
                              
                             <ion-button  color="secondary"  (click)="createTxtFileFromArray()"        >
                              <ion-icon slot="start" color="light" slot="start" name="cloud-download-outline"></ion-icon>
                              <ion-label color="light">Txt</ion-label>
                                 </ion-button>
                                 <ion-button      (click)="liquidacionAnticipo()"   color="success"   type="submit"    >
                                  <ion-icon slot="start" color="light" slot="start" name="checkmark"></ion-icon>
                                  <ion-label color="light">Completar Liquidacion</ion-label>
                                     </ion-button>
               
              
                      </span>
                    </ion-col>
                <ion-col size="12">

                  <table class="custom-table table">
                    <thead>
                      <tr>
                        <th>
                          <ion-checkbox (ionChange)="selectAll($event)"></ion-checkbox>
                        </th>
                        <th>Usuario</th>
                        <th>Monto</th>
                        <th>Estatus</th>
                        <th>Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- Your existing code for table rows goes here -->
              
                      <tr *ngIf="paginatedData.length ==0">
                      
                        <td colspan="5" class="ion-text-center">
                          No Data found
                        </td>
                      </tr>
                
                
                      <tr  *ngFor="let item of paginatedData">
                        <td>
                          <ion-checkbox  value=""></ion-checkbox>
                        </td>
                        <td>{{item.usuario}}</td>
                        <td>
                
                          {{item.monto    | colones : 2 : '.' : ',' :   gastosSinanticipoService.moneda }}
                        </td>
                        <td>  <ion-badge slot="end" color="{{getBadgeColor(item.estatus)}}">{{
                          
                          item.estatus  == 'P' ? 'Pendiente' : item.estatus  == 'A' ? 'Aprobado' : item.estatus  == 'R' ? 'Rechazado' : item.estatus  == 'RA' ? 'Requiere Aprobación' : ''
                        
                        }}</ion-badge></td>
                        <td class="last-column">
                         
                          <ion-button fill="clear" (click)="lineaGastos(item)" >
                            <ion-icon color="warning" slot="start" name="eye"></ion-icon>
                            <ion-label color="warning">Detalle</ion-label>
                          </ion-button>
                        </td>
                      </tr>
              
              
                    </tbody>
                    <tfoot>
                      <tr>
                        <td colspan="5">
                          <div class="foot">
                            <ion-label>Total {{ data.length }}</ion-label>
                            <div class="tfoot">
                              <!-- Your existing code for pagination goes here -->
                              <ion-button size="small" fill="clear" [disabled]="currentPage === 1" (click)="currentPage = currentPage - 1" class="left">
                                <ion-icon name="chevron-back-outline"></ion-icon>
                              </ion-button>
                              <ion-label>{{ currentPage }} of {{ totalPages }}</ion-label>
                              <ion-button size="small" fill="clear" [disabled]="currentPage === totalPages" (click)="currentPage = currentPage + 1" class="right">
                                <ion-icon name="chevron-forward-outline"></ion-icon>
                              </ion-button>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tfoot>
                  </table>
                </ion-col>
                
              </ion-row>
            </ion-col>
          </ion-row>
           <!-- Modernized table with updated styles -->
  
        </ion-col>
      
      </ion-row>
    </ion-grid>
    
  </form>
</ion-content>
