<ion-header class="ion-no-border">
  <ion-toolbar>
 
  
      <ion-button slot="start" (click)="cerrarModal()"  fill="clear">
        <ion-icon  size="large" name="arrow-back-outline"></ion-icon>
      </ion-button>
 <ion-title>Lista De Colaborares</ion-title>
    
 <ion-fab-button style="margin-right: 20px;" slot="end" (click)="filtroUsuarios()" size="small"  >
  <ion-icon   name="funnel"></ion-icon>
</ion-fab-button>
  </ion-toolbar>
 
</ion-header>
<ion-content class="ion-padding">
  <ion-row class="ion-margin-bottom">
    <ion-col size="6">
 
    </ion-col>
    <ion-col size="6" class="search-box">
      <ion-item  mode="md" >
        <ion-icon slot="start" name="search"></ion-icon>
      <ion-input  (ionChange)="onSearchChange($event)" [debounce]="250" mode="ios" placeholder="Buscar"></ion-input>
      </ion-item>

    </ion-col>
  </ion-row>
  <ion-col size="12">
     <ion-list >
      <ion-item lines="none" *ngIf="usuarios.length == 0" >

        <ion-grid>
          <ion-row>
            <ion-col size="12" class="ion-text-center ion-margin-top">
              <img height="150" src="assets/imgs/empty-box.svg" alt="">
            </ion-col>
            <ion-col size="12" class="ion-text-center">
              <strong class="ion-text-capitalize">No hay datos que mostrar</strong>
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-item>

      <ion-item *ngFor="let usuario of usuarios| filtro: textoBuscar:'nombre'; let i = index;"  >

        <ion-avatar  slot="start">
          <img   src="../assets/imgs/user.svg" />
        </ion-avatar>

        <ion-label  >{{usuario.usuario}} / {{usuario.nombre}} {{usuario.apellido}}</ion-label>

        <ion-checkbox style="margin-right: 20px;"   slot="end" name="usuario" [(ngModel)]="usuario.seleccionado"  (ionChange)="agregarUsuario($event,usuario)"  ></ion-checkbox>
     

     
      </ion-item>
     </ion-list>
      
    


  </ion-col>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar >
   <ion-grid >
    <ion-row>
      <ion-col size="12">
        <app-button label=" Agregar Colaboradores {{totalUsuarios}}"  (click)="retornarUsuarios()"></app-button>
      </ion-col>
 
    </ion-row>
   </ion-grid>
 
  </ion-toolbar>
</ion-footer>
